body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    font-size: 6.0vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header::after {
    content: "Artys Snake";
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
}

.flip {
    transform: rotate(180deg);
}

.left-right-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}